@import "app-reset";
html {
  font-size: 15px;
  font-family: Arimo, Helvetica, Arial, sans-serif;
}
a {
  text-decoration: underline;
}
aside {
  width: 400px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAAAAACo4kLRAAAAF0lEQVR4AWP4CQf/4WBoCyKYCOkhLQgAFBGJ0NmZHwYAAAAASUVORK5CYII=');
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  border-left: 2px solid #ccc;
}
main {
  margin-right: 400px;
  background: #fff;
}

h1 {
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 1.2;
}
h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
p {
  font-size: 1.2rem;
  line-height: 1.2;
  margin-bottom: 1em;
}

aside {
  h1 {
    font-family: 'Shadows Into Light';
    font-size: 2.8rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #ccc;
  }
}
article {
  border-bottom: 2px solid #eee;
  line-height: 1.2;

  h2 {
    max-width: 800px;
    font-style: italic;
  }
}
.inner {
  padding: 40px;
}

figure {
  width: 400px;
  max-width: 100%;
  text-align: center;
  margin: 0 0 1rem;

  img {
    max-width: 100%;
    height: auto;
    margin: auto;
  }
}


@media screen and (max-width: 700px) {
  aside {
    position: static;
    width: 100%;
    height: auto;
    border-left: 0;
    border-bottom: 2px solid #ccc;

    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
  }
  main {
    margin: 0;
    max-width: 100%;
    overflow: hidden;
  }

  article {
    figure {
      width: 100%;
    }
    h2 {
      max-width: 100%;
      font-size: 1.2rem;
    }
  }
}
